* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
.payments_wrap {
  background-color: rgb(63, 72, 83);
  font-family: sans-serif;
  color: rgb(220, 220, 220);
  padding: 50px;
  width: 100vw;
  overflow-x: hidden;
}
h1 {
  font-weight: 400;
}
a {
  color: inherit;
}
p {
  margin-top: 0.7em;
}

.warning {
  background-color: rgb(38, 108, 189);
  color: white;
}
.st_viewport {
  max-height: 500px;
  overflow: auto;
}

[data-table_id="1"] {
  background-color: rgb(255, 115, 0);
}
[data-table_id="2"] {
  background-color: rgb(61, 53, 39);
  color: rgb(220, 220, 220);
}
[data-table_id="3"] {
  background-color: rgba(168, 189, 4, 0.8);
}

._tableNames {
  min-width: 140px;
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._names {
  min-width: 134px;
}
._months {
  min-width: 80px;
}

._checkboxes {
  min-width: 80px;
}

pre {
  overflow: auto;
}

/** Sticky table styles **/
.st_viewport {
  background-color: rgb(62, 148, 236);
  color: rgb(27, 30, 36);
  margin: 20px 0;
}
/* ###  Table wrap */
.st_wrap_table {
}
/* ##   header */
.st_table_header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgb(27, 30, 36);
  color: rgb(220, 220, 220);
}
.st_table_header h2 {
  font-weight: 400;
  margin: 0 20px;
  padding: 20px 0 0;
}
.st_table_header .st_row {
  color: rgba(220, 220, 220, 0.7);
}
.st_table_header .st_column {
}
/* ##  table */
.st_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* #   row */
.st_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.paused {
  color: #d41717;
}

.st_table .st_row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
/* #   column */
.st_column {
  padding: 10px 20px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 36%;
  right: 41%;
  top: 45%;
  bottom: 36%;
  margin: auto;
  background: #292929;
  padding: 1rem;
}

input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: #363839;
  border: 1px solid #bdc1c6;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
input[type="checkbox"]::before {
  position: absolute;
  content: "";
  display: block;
  top: 1px;
  left: 6px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
input[type="checkbox"]:checked {
  color: #fff;
  border-color: #06842c;
  background: #06842c;
}
input[type="checkbox"]:checked::before {
  opacity: 1;
}
input[type="checkbox"]:checked ~ label::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.threeStateCheckbox {
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 1.6em;
  margin-right: 1rem;
  text-align: center;
  width: 1.6em;
  vertical-align: middle;
}
.threeStateCheckbox svg {
  margin-bottom: 1px;
  margin-top: 2px;
  stroke: #fff;
}

.threeStateCheckbox.unpaid svg {
  margin-right: 2px;
}

.paid {
  background-color: #4aca65;
  border-color: #43b45b;
}

.unpaid {
  background-color: #dc4e4e;
  border-color: #c74545;
}

.pauseicon {
  font-size: 10px;
}

._actions {
  display: flex;
  flex: 1 1 auto;
}

._actions > div > svg {
  cursor: pointer;
}
